aiofiles
aiopg
aioredis
asyncio
bumpversion
celery
cryptography
boto
marshmallow
marshmallow-sqlalchemy
multidict
PyJWT
pyfcm
pushjack
requests
redis
sanic==0.7.0
sqlalchemy
sqlalchemy_mixins
sqlalchemy_utils
webargs
websockets
nose
ua-parser
user-agents
uvloop
pyYaml