aiofiles
aiopg
aioredis
asyncio
bumpversion
celery
cryptography
boto
marshmallow==2.21
marshmallow-sqlalchemy
multidict
PyJWT
pyfcm
pushjack
requests
redis
sanic==20.12.1
sqlalchemy
sqlalchemy_mixins
sqlalchemy_utils
webargs
websockets
nose
ua-parser
user-agents
pyYaml